.container{
    border-radius: 10px;
}
@keyframes hover{
    from{
        background-color:  rgba(0, 0, 200, 0.27);
        color: white;
    }
    to {
        background-color: rgba(255, 255, 255, 0.75);
        color: cadetblue;
    }
}

@keyframes nohover{
    from {
        background-color: rgba(255, 255, 255, 0.75);
        color: cadetblue;
    }
    to {
        background-color:  rgba(0, 0, 200, 0.27);
        color: white;
    }
}