body{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    font-family: 'Montserrat', sans-serif !important;
    background-image: url(../Media/Images/l.png) !important;
    background-size: 50px !important;
    background-repeat: repeat !important;
}
main, aside, footer{
    border-radius: 10px;
    margin: 15px auto;
    width: 80%;
    background-color: rgba(0,0,0,0.75);
    color: white;
}    

p{
    padding: 50px;
    display: flex;
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
}

iframe{
    display: block;
    margin: 0 auto;
    border-radius: 25px;
}
aside{
    padding: 25px !important;
}

header{
    background-color: rgba(10, 51, 51, 0.336) !important;
}