body{
    background-image: url("https://images4.alphacoders.com/292/292026.jpg");
    background-size: cover;
}

header{
    background-color: rgba(0, 0, 0, 0.26);
}
a{
    text-decoration: none;
    color: white !important;
    font-size: larger !important;
}
h1{
    text-align: center;
        
}
div{
    padding: 10px;
}
.navbar, .modal-title{
    font-family: 'Akaya Telivigala', cursive;
    color: white;
}
.logo{
    font-size: 30px !important;
    display: inline-block;
    margin: -15px  !important;
    margin-left: 20px !important;
}
.dotcom{
    display: block;
    padding-left: 175px !important;
    margin-top: -15px !important;
    font-size: 25px !important;
}

.modal-content{
    background-color: rgba(4, 214, 214, 0.6) !important;
}
.modal-header, .modal-footer{
    border: none !important;
}
.modal{
    --bs-modal-width: 900px !important;
}