.container{
    margin: initial;
}
.spoty{
    background-color: rgba(169, 112, 6, 0.7) !important;
    min-height: auto;
}
.spoty-content{
    border: none !important;
    margin-top: -30px !important;
    margin-bottom: -10px !important;
}
.spoty .btn{
    background-color: initial;
    min-height: initial;
}
.music-element .btn{
    width: 50px !important;
    height: 38px !important;
}